# Environment variables
.env
.env.*

# API keys
*.key
*.keys

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp